$green: #a2cc3a;
$light_green: #f2f8e3;
$gray: #bfbfbf;
$us: #4E64AE;
$east_cost: #469990;
$new_england: #E51B4C;
$central_atlantic: #F58230;
// $lower_atlantic: #8EC74C;
$midwest: #863D97;
$gulf_coast: #AAAACC;
$rocky_mountain: #B7962F;
$west_coast: #609FAF;
$california: #FFCC62;