@mixin todays-price-wrapper {
  border: 1px solid #dee4ec;
  border-radius: 5px;
  box-shadow: 1px 1px 16px 0 rgba(0,0,0,.08);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 120px;
}

@mixin light-green-bg{
  align-content: center;
  display: grid;
  text-align: center;
  background: $light_green;
  color: $green ;
  border-radius: 5px;
  font-size: 28px;
}